<?php $this->headLink()->appendStylesheet('/zfs-user/css/zfsuser.css'); ?>

<div class="layout-small container">
    <h3>Recovery Password</h3>
    <?php echo $this->form()->openTag($this->form); ?>

    <?php if ($this->form->has('email')) : ?>
        <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('email')); ?></span>
        <div class="form-group input-group">
            <span title="Email required" class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
            <?php echo $this->formInput($this->form->get('email')); ?>
        </div>
    <?php endif; ?>

    <?php if ($this->form->has('password')) : ?>
        <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('password')); ?></span>
        <div class="form-group input-group">
            <span title="Password required" class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            <?php echo $this->formInput($this->form->get('password')); ?>
        </div>
    <?php endif; ?>

    <?php if ($this->form->has('password2')) : ?>
        <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('password2')); ?></span>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            <?php echo $this->formInput($this->form->get('password2')); ?>
        </div>
    <?php endif; ?>

    <?php echo $this->formSubmit($this->form->get('submit')); ?>
    <?php echo $this->form()->closeTag(); ?>
</div>
