.layout-small {
    width: 360px;
}

.layout-small .pull-left .fa {
    font-size: 20pt;
}

.layout-small div.checkbox input {
    margin-left: 0;
}

.help-inline ul {
    color: #ff0033;
    list-style: none;
    margin: 0;
    padding: 0;
}

i.not-required {
    opacity: 0.5;
}

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

.add-auth a {
    color: #00a65a;
}

.add-auth {
    text-align: center;
    padding-bottom: 5px;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-google {
    background-color: #c32f10;
}

.btn-social {
    color: white;
    opacity: 0.9;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.avatar {
    cursor: pointer;
}