<?php $this->placeholder('dashboardContentBody')->captureStart(); ?>

<?php echo $this->form()->openTag($this->form); ?>
<?php echo $this->formElement($this->form->get('id')); ?>

<div class="row">

    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"><?php echo $this->form->get('id')->getValue() ? 'Edit User' : 'Create New User'; ?></h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <?php echo $this->formInput($this->form->get('name')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formInput($this->form->get('email')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formInput($this->form->get('password')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formSelect($this->form->get('status')); ?>
                    </div>

                    <div class="form-group">
                        <div class="pre-scrollable">
                            <?php echo $this->formMulticheckboxWrapper($this->form->get('roles')); ?>
                        </div>
                    </div>

                </div><!-- /.box-body -->

                <div class="box-footer">
                    <?php echo $this->formSubmit($this->form->get('submit')); ?>
                </div>
            </form>
        </div><!-- /.box -->

    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<?php $this->placeholder('dashboardContentBody')->captureEnd();