<?php
$this->headLink()
    ->appendStylesheet($this->basePath('/../adminlte/plugins/datatables/dataTables.bootstrap.css'));

$this->inlineScript()
    ->appendFile($this->basePath('/../adminlte/plugins/datatables/jquery.dataTables.js'))
    ->appendFile($this->basePath('/../adminlte/plugins/datatables/dataTables.bootstrap.js'))
    ->appendFile($this->basePath('/zfs-user/js/zfsusermanagement.js'));
?>

<?php $this->placeholder('dashboardContentHeader')->captureStart(); ?>
    <h1>
        User List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">All Users</li>
    </ol>
<?php $this->placeholder('dashboardContentHeader')->captureEnd(); ?>

<?php $this->placeholder('dashboardContentBody')->captureStart(); ?>
    <div class="box box-primary">
        <div class="box-header">

            <a href="<?php echo $this->url('zfsusermanagement/create'); ?>" class="btn btn-primary"><i class="fa fa-user-plus"></i> Create</a>
            <a href="<?php echo $this->url('zfsusermanagement/delete'); ?>" class="btn btn-danger btn-remove-selected"><i class="fa fa-trash-o"></i> Delete Selected</a>

            <div class="box-tools">
                <form class="form-inline" method="get" id="table_search">
                    <div class="form-group">
                        <select class="form-control input-sm" name="filterColumn">
                            <option value="email">Email</option>
                            <option value="name">Name</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control input-sm pull-right" type="text" placeholder="Search" style="width: 150px;" name="filter">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default btn-search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div><!-- /.box-header -->
        <div class="box-body">
            <?php echo $this->partial('zfs/user-management/table.phtml'); ?>
        </div>


    </div>
<?php $this->placeholder('dashboardContentBody')->captureEnd();
