<?php $this->placeholder('sidebarNavigation')->captureStart(); ?>
<li class="treeview">
    <a href="#">
        <i class="fa fa-user"></i>
        <span>Users</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="<?php echo $this->url('zfsusermanagement/create'); ?>"><i class="fa fa-user-plus"></i> Add New User</a></li>
        <li><a href="<?php echo $this->url('zfsusermanagement'); ?>"><i class="fa fa-list"></i> All Users</a></li>
    </ul>
</li>
<?php $this->placeholder('sidebarNavigation')->captureEnd();