
<table id="users_table" class="table table-bordered table-hover dataTable">
    <thead>
    <tr>
        <th><input id="selectAllCheckbox" type="checkbox"></th>
        <th class="sorting" data-column="email">Email</th>
        <th class="sorting" data-column="name">Name</th>
        <th class="sorting" data-column="created">Created</th>
        <th class="sorting" data-column="status">Status</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <?php

    foreach ($this->paginator as $user) {
        $status = '<span class="btn-lg label label-';

        switch ($user['status']) {
            case \ZFS\User\Model\Object\Auth::STATUS_ACTIVE:
                $status .= 'success';
                break;
            case \ZFS\User\Model\Object\Auth::STATUS_DISABLED:
                $status .= 'default';
                break;
            case \ZFS\User\Model\Object\Auth::STATUS_DELETED:
                $status .= 'danger';
                break;
        }

        $status .= '">'.$user['status'].'</span>';

        echo '<tr>'.
            '<td><input name="id" type="checkbox" value="'.$user['id'].'"></td>'.
            "<td>{$user['email']}</td>".
            "<td>{$user['name']}</td>".
            "<td>{$user['created']}</td>".
            "<td>$status</td>".
            "<td>{$user['role']}</td>".
            '<td><div class="btn-group">'.
            '<a href="'.$this->url('zfsusermanagement/edit', array('id' => $user['id'])).'" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> Edit</a>'.
            '<a href="'.$this->url('zfsusermanagement/delete', array('id' => $user['id'])).'" class="btn-remove btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Delete</a>'.
            '</div></td>'.
            '</tr>';
    }

    if ($rowDiff = $this->itemsPerPage - $this->paginator->getCurrentItemCount()) {
        for ($i = 0; $i < $rowDiff; $i++) {
            echo '<tr></tr>';
        }
    }
    ?>
    </tbody>
</table>
<div class="row">
    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
        <?php echo $this->paginationControl($this->paginator, 'sliding', 'partial/paginator', array('route' => 'zfsusermanagement','query' => $this->query)); ?>
    </div>
</div>




