<?php
$this->inlineScript()->appendFile($this->basePath('/zfs-user/js/zfsuser.js'));

foreach ($this->providers as $provider) {
    $authorization = array_filter($this->auth, function ($e) use ($provider) {
        return $e->provider == $provider;
    });

    $socialAuthorization = reset($authorization);
    ?>
    <input type="hidden" value="12" name="<?php echo $provider; ?>" />
    <?php if ($socialAuthorization) : ?>
        <a href="<?php echo $this->url('zfsuser/socialRemove', array('id' => $socialAuthorization->id)); ?>"
           title="Remove <?php echo ucfirst($provider); ?> authorization" class="btn btn-social btn-<?php echo $provider; ?>">
            <i class="fa fa-times-circle"></i> <?php echo ucfirst($provider); ?>
        </a>
    <?php else : ?>
        <a href="<?php echo $this->url('zfsuser/socialLogin', array('provider' => $provider)); ?>"
           title="Link <?php echo ucfirst($provider); ?> account" class="btn btn-social btn-<?php echo $provider; ?>">
            <i class="fa fa-<?php echo $provider; ?>"></i> <?php echo ucfirst($provider); ?>
        </a>
    <?php endif; ?>
<?php
}
?>
