<?php
    $this->headLink()->appendStylesheet('/zfs-user/css/zfsuser.css');

    /** @var $authorizations \ZFS\User\Model\Object\Auth[] */
    $authorizations = iterator_to_array($this->authorizations);
?>
<div class="row">
    <?php echo $this->form()->openTag($this->form); ?>
    <!-- left column -->
    <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="text-center">
            <img src="<?php echo $this->identity()->avatar; ?>" class="avatar img-circle img-thumbnail" alt="avatar">
            <h6>Upload a different photo...</h6>
            <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('avatar')); ?></span>
            <?php echo $this->formElement($this->form->get('avatar')); ?>
            <h4>Social linking</h4>
            <?php
            echo $this->partial('zfs/user/partial/profile-social-buttons.phtml', array(
                'providers' => array(
                    \ZFS\User\Model\Object\Auth::PROVIDER_FACEBOOK,
                    \ZFS\User\Model\Object\Auth::PROVIDER_GOOGLE,
                    \ZFS\User\Model\Object\Auth::PROVIDER_TWITTER
                ),
                'auth' => $authorizations
            ));
            ?>
        </div>

    </div>
    <!-- edit form column -->
    <div class="col-md-7 col-sm-6 col-xs-12 personal-info">
        <?php
            $equalsExist = array_filter($authorizations, function ($e) {
                return $e->provider == \ZFS\User\Model\Object\Auth::PROVIDER_EQUALS;
            });

            if (!$equalsExist) :
        ?>
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            You have not set a password yet
        </div>
        <?php
            endif;
        ?>
        <h3>Personal info</h3>
            <div class="form-group">
                <label class="col-lg-4 control-label">Email:</label>
                <div class="col-lg-8">
                    <?php echo $this->formEmail($this->form->get('email')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Username:</label>
                <div class="col-md-8">
                    <?php echo $this->formText($this->form->get('username')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">New Password:</label>
                <div class="col-md-8">
                    <?php echo $this->formPassword($this->form->get('password')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Confirm password:</label>
                <div class="col-md-8">
                    <?php echo $this->formPassword($this->form->get('password2')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <?php echo $this->formSubmit($this->form->get('submit')); ?>
                </div>
            </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>