<?php
$identity = $this->identity();

$page  = $this->params['page'];
$child = $page->getPages();

$profilePage = array_shift(array_filter($child, function($page) {
    return $page->tag === 'profile_button';
}));

$signOutPage = array_shift(array_filter($child, function($page) {
    return $page->tag === 'signout_button';
}));

$this->placeholder($this->params['placeholder'])->captureStart();
?>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="<?php echo $page->getTitle(); ?>">
        <?php if ($identity->avatar) : ?>
        <img class="user-image" src="<?php echo $identity->avatar; ?>">
        <?php endif; ?>
        <?php echo $identity->name ? : 'Anonymous'; ?>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <p>
                <small>Member since <?php echo date('M. Y', strtotime($identity->created)); ?></small>
            </p>
        </li>
        <li class="user-footer">
            <div class="pull-left">
                <a href="<?php echo $this->url($profilePage->getRoute()); ?>" class="btn btn-default btn-sm" title="<?php echo $profilePage->getTitle(); ?>">
                    <?php echo $profilePage->getLabel(); ?>
                </a>
            </div>
            <div class="pull-right">
                <a href="<?php echo $this->url($signOutPage->getRoute()); ?>" class="btn btn-default btn-sm" title="<?php echo $signOutPage->getTitle(); ?>">
                    <?php echo $signOutPage->getLabel(); ?>
                </a>
            </div>
        </li>
    </ul>

<?php $this->placeholder($this->params['placeholder'])->captureEnd();
