<?php $this->headLink()->appendStylesheet('/zfs-user/css/zfsuser.css'); ?>

<div class="layout-small container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please sign in</h3>
        </div>
        <div class="panel-body">
            <?php echo $this->form()->openTag($this->form); ?>

            <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('email')); ?></span>
            <div class="form-group input-group">
                <span tite="Email required" class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                <?php echo $this->formEmail($this->form->get('email')); ?>
            </div>

            <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('password')); ?></span>
            <div class="form-group input-group">
                <span tite="Password required" class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <?php echo $this->formInput($this->form->get('password')); ?>
            </div>

            <div class="checkbox">
                <?php echo $this->formCheckbox($this->form->get('rememberMe')); ?>
                <?php echo $this->formLabel($this->form->get('rememberMe')); ?>
            </div>
            <?php echo $this->formSubmit($this->form->get('submit')); ?>
            <a href="<?php echo $this->url('zfsuser/signup'); ?>" title="Sign Up" class="btn btn-default pull-right">Sign up</a>
            <?php echo $this->form()->closeTag(); ?>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left">
                <a href="<?php echo $this->url('zfsuser/socialLogin', array('provider' => 'twitter')); ?>" class="btn fa fa-twitter-square fa-2x"></a>
            </div>
            <div class="pull-left">
                <a href="<?php echo $this->url('zfsuser/socialLogin', array('provider' => 'facebook')); ?>" class="btn fa fa-facebook-square fa-2x"></a>
            </div>
            <div class="pull-left">
                <a href="<?php echo $this->url('zfsuser/socialLogin', array('provider' => 'google')); ?>" class="btn fa fa-google-plus-square fa-2x"></a>
            </div>
            <a href="<?php echo $this->url('zfsuser/recovery'); ?>" class="pull-right">Forgot your password?</a>
        </div>
    </div>
</div>
