<?php $this->headLink()->appendStylesheet('/zfs-user/css/zfsuser.css'); ?>

<div class="layout-small container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Registration</h3>
        </div>
        <?php echo $this->form()->openTag($this->form); ?>
        <div class="panel-body">
            <?php echo $this->formHidden($this->form->get('id')); ?>

            <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('username')); ?></span>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw not-required"></i></span>
                <?php echo $this->formInput($this->form->get('username')); ?>
            </div>

            <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('email')); ?></span>
            <div class="form-group input-group">
                <span title="Email required" class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                <?php echo $this->formInput($this->form->get('email')); ?>
            </div>

            <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('password')); ?></span>
            <div class="form-group input-group">
                <span title="Password required" class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <?php echo $this->formInput($this->form->get('password')); ?>
            </div>

            <span class="help-inline"><?php echo $this->formElementErrors($this->form->get('password2')); ?></span>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <?php echo $this->formInput($this->form->get('password2')); ?>
            </div>

        </div>
        <div class="panel-footer">
            <?php echo $this->formSubmit($this->form->get('submit')); ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
